{% extends 'base.html' %}


{% block content %}
{{test}}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Activity</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
    </tbody>
  </table>
{% endblock %}